.instructions {
  font-size: 0.75rem;
  border-radius: 0.5rem;
  background: #000;
  color: #fff;
  padding: 0.25rem;
  position: relative;
  bottom: -10px;
}

.instructions > svg {
  margin-right: 0.25rem;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.hide {
  display: none;
}

.valid {
  color: rgb(46, 125, 50);
  margin-left: 0.25rem;
}

.invalid {
  color: rgb(183, 28, 28);
  margin-left: 0.25rem;
}

.errmsg {
  position: absolute;
  text-align: center;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: lightpink;
  color: rgb(183, 28, 28);
  padding: 0.3rem;
  margin-bottom: 0.5rem;
}

.switcher {
  position: fixed;
  bottom: 30px;
  right: 30px;
  border-radius: 50%;
}